<header class="config_header">
			<a ui-sref="user"><img src="../img/loca1.png"></a>
			<h1>设置</h1>
		</header>
<div class="config_count">
	<ul>
		<li>
			<p>启动问候音</p><a href="#">hello</a>
		</li>
		<li class="on">
			<p>皮肤中心</p><a href="#"><img src="../img/img1.png"></a>
		</li>
		<li>
			<p>在线试听音质</p><a href="#"><span></span></a>
		</li>
		<li>
			<p>自动下载写真/封面</p><a href="#"><span></span></a>
		</li>
		<li>
			<p>边听边存</p><a href="#"><img src="../img/img1.png"></a>
		</li>
		<li>
			<p>歌曲下载目录</p><a href="#"><img src="../img/img1.png"></a>
		</li>

		<li class="on">
			<p>摇一摇切歌</p><a href="#">不开启</a>
		</li>
		<li>
			<p>播放完整首歌在停止</p><a href="#"><img src="../img/img1.png"></a>
		</li>
		<li>
			<p>定时结束后</p><a href="#"><span></span></a>
		</li>
		<li><p>播放完整首歌在停止</p><a href="#">42.3M</a></li>
	</ul>
</div>