<header class="dvd_header">
			<a ui-sref="music"><img src="../img/loca1.png"></a>
			<h1>专辑</h1>
		</header>
		<div class="dvd_nav">
					<ul  id="dvd_resnav">
						<li class="on">推荐</li>
						<li>畅销</li>
						<li>包月</li>
						<li>已购</li>
					</ul>
					<div class="sad" id="dvd_sad">
					</div>
				</div> 
		<main class="dvd_countes" id="dvd" is-dvd>
				<div class="boxs">
					<div class="box1">
						<div id="banner" class="swiper-container">
					        <ul class="swiper-wrapper">                                 
					           	<li class="swiper-slide">
					           		 <a href="#" ><img src="../images/zj1.jpg"/></a>
					            </li>
					            <li class="swiper-slide">
			            	   	 	<a href="#" ><img src="../images/zj1.jpg"/></a>
			            		</li> 
			            		<li class="swiper-slide">
			                		<a href="#" ><img src="../images/zj1.jpg"/></a>
			            		</li>
			        		</ul>
		      				<div class="swiper-pagination"></div>
 	  					</div>
 	  					<div class="context">
 	  						<h1>最新上架</h1>
 	  						<dl>
 	  						<dt><a href="#"><img src="../images/zj2.jpg" alt=""></a></dt>
 	  						<dd>
 	  							<h6>重来</h6>
 	  							<p>逃跑计划</p>
 	  							<p>用真诚和感动超越时代</p>
 	  							<p><span>￥15:00</span> | <a href="#">购买</a></p>
 	  						</dd>
 	  						</dl>
 	  						<dl>
 	  							<dt><a href="#"><img src="../images/dt8.jpg" alt=""></a></dt>
 	  							<dd>
 	  								<h6>我们结婚吧</h6>
 	  								<p>魏晨&&洋洋</p>
 	  								<p>激情与浪漫一个都不能少</p>
 	  								<p><span>￥9:00</span> | <a href="#">购买</a></p>
 	  							</dd>
 	  						</dl>
 	  						<dl>
 	  							<dt><a href="#"><img src="../images/dt7.jpg" alt=""></a></dt>
 	  							<dd>
 	  								<h6>后来</h6>
 	  								<p>逃跑计划</p>
 	  								<p>用真诚和感动超越时代</p>
 	  								<p><span>￥11:00</span> | <a href="#">购买</a></p>
 	  							</dd>
 	  						</dl>
 	  						<dl>
 	  							<dt><a href="#"><img src="../images/di5.jpg" alt=""></a></dt>
 	  							<dd>
 	  								<h6>重来</h6>
 	  								<p>走着走着</p>
 	  								<p>走着周折的路途，可曾回头想想</p>
 	  								<p><span>￥13:00</span> | <a href="#">购买</a></p>
 	  							</dd>
 	  						</dl>
 	  						<dl>
 	  							<dt><a href="#"><img src="../images/dt6.jpg" alt=""></a></dt>
 	  							<dd>
 	  								<h6>重来</h6>
 	  								<p>逃跑计划</p>
 	  								<p>用真诚和感动超越时代</p>
 	  								<p><span>￥18:00</span> | <a href="#">购买</a></p>
 	  							</dd>
 	  						</dl>
 	  					</div>
 	  				</div>
   					<div class="box2">
   						<p>asdsaasdasda</p>
   					</div>
   					<div class="box3">
   						<p>asdsaasdasda</p>
   					</div>
   					<div class="box4">
   						<p>asdsaasdasda</p>
   					</div>
				</div>
			</main>
		<footer class="dvd_footer">
			<dl>
				<dt><img src="../images/home3.jpg" alt=""></dt>
				<dd>
					<h6>不再说再见</h6>
					<p>照耀彼此的脸 茫茫人海互相看见</p>
					<a ui-sref="play"><img src="../images/home2.jpg" class="img1"></a>
					<img src="../images/home1.jpg" class="img2"> 
				</dd>
			</dl>
		</footer>
	