<header class="love_header">
		<a ui-sref="user"><img src="../img/loca1.png"></a>
		<h1>我喜欢</h1>
		</header>
		<div class="love_nav">
			<ul>
				<li><a href="#">歌曲(4)</a></li>
				<li><a href="#">歌手</a></li>
				<li><a href="#">专辑</a></li>
				<li><a href="#">喜欢</a></li>
			</ul>
			<div class="on">
			</div>
		</div>
		<main class="love_main">
			<img src="../images/sing1.jpg" class="loveimg">
			<h2>还没有喜欢的单曲</h2>
			<p>你可以挑一些喜欢的单曲添加到这里</p>
			<span>添加歌曲</span>
		</main>
		<footer class="love_footer">
			<dl>
				<dt><img src="../images/home3.jpg" alt=""></dt>
				<dd>
					<h6>不再说再见</h6>
					<p>照耀彼此的脸 茫茫人海互相看见</p>
					<a ui-sref="play"><img src="../images/home2.jpg" class="img1"></a>
					<img src="../images/home1.jpg" class="img2"> 
				</dd>
			</dl>
		</footer>