
		<header class="find_header">
			<a ui-sref="config"><img src="img/3@3x.png"></a>
			<h1><span ui-sref="user">我的</span><span ui-sref="music">音乐馆</span><span ui-sref="find">发现</span></h1>
			<a ui-sref="search"><i class="fa fa-fw fa-search"></i></a>
		</header>
		<main class="find_main" id="find">
				<div class="scroller">
					<div class="top">
						<p> <i class="fa fa-fw fa-search"></i><input type="text" placeholder="黑色幽默 周杰伦"></p>
					</div>
					<div class="singer">
						<ul>
							<li>
								<a href="#">
									<img src="../img/find-1.jpg"><span>歌手</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/find-2.jpg"><span>音乐圈</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/find-3.jpg"><span>歌词</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="every">
						<ul id="uls">
							<li>
								<h2>每日热播（TOP12）</h2>
							</li>
							<li ng-repeat="user in data.find">
								<dl>
									<dt><img src="{{user.img}}" alt=""></dt>
									<dd>
										<h6>{{user.tit}}</h6>
										<p>{{user.names}}</p>
									</dd>
								</dl>
								<a href="#"><img src="{{user.pic}}" alt=""></a>
							</li>
<!-- 							<li>
	<dl>
		<dt><img src="../images/home4.jpg" alt=""></dt>
		<dd>
			<h6>小情歌</h6>
			<p>苏打绿</p>
		</dd>
	</dl>
	<a href="#"><img src="../img/img1.png" alt=""></a>
</li>
<li>
	<dl>
		<dt><img src="../images/home5.jpg" alt=""></dt>
		<dd>
			<h6>隐形的翅膀</h6>
			<p>张韶涵</p>
		</dd>
	</dl>
	<a href="#"><img src="../img/img1.png" alt=""></a>
</li>
<li>
	<dl>
		<dt><img src="../images/home3.jpg" alt=""></dt>
		<dd>
			<h6>红尘客栈</h6>
			<p>周杰伦</p>
		</dd>
	</dl>
	<a href="#"><img src="../img/img1.png" alt=""></a>
</li> -->


						</ul>
					</div>	
					<!-- <div class="zj" id="zj1">
						<span>展开剩余全部</span>
						<img src="../img/finds.jpg" alt="">
					</div> -->
				</div>
		</main>
	
		<footer class="find_footer">
			<dl>
				<dt><img src="images/home3.jpg" alt=""></dt>
				<dd>
					<h6>不再说再见</h6>
					<p>照耀彼此的脸 茫茫人海互相看见</p>
					<a ui-sref="play"><img src="../images/home2.jpg" class="img1"></a>
					<img src="images/home1.jpg" class="img2"> 
				</dd>
			</dl>
		</footer>


	