<header class="locat_header">
			<a ui-sref="user"><img src="../img/loca1.png"></a>
			<h1>本地歌曲</h1>
		</header>
		<div class="locat_nav">
			<ul>
				<li><a href="#">歌曲(4)</a></li>
				<li><a href="#">歌手</a></li>
				<li><a href="#">专辑</a></li>
				<li><a href="#">喜欢</a></li>
			</ul>
			<div class="on">
				
			</div>
		</div>
		<main class="locat_main">
			<section class="home" id="home">
				<ul>
					<li>
						<dl>
							<dt><img src="../images/home2.jpg"></dt>
							<dd><h2>随机播放全部</h2></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dd>
								<h5>我的天空(live)</h5>
								<p><input type="checkbox" checked="checked"><span>马冬梅</span></p>
							</dd>
							<dt>
								<a href="#"><img src="../img/loca2.jpg"></a>
							</dt>
						</dl>
					</li>
					<li>
						<dl>
							<dd>
								<h5>我的天空(live)</h5>
								<p><input type="checkbox" checked="checked"><span>马冬梅</span></p>
							</dd>
							<dt>
								<a href="#"><img src="../img/loca2.jpg"></a>
							</dt>
						</dl>
					</li>
				</ul>
			</section>
		</main>
		<footer class="locat_footer">
			<dl>
				<dt><img src="../images/home3.jpg" alt=""></dt>
				<dd>
					<h6>不再说再见</h6>
					<p>照耀彼此的脸 茫茫人海互相看见</p>
					<a ui-sref="play"><img src="../images/home2.jpg" class="img1"></a>
					<img src="../images/home1.jpg" class="img2"> 
				</dd>
			</dl>
		</footer>
