	
		<header class="music_header">
			<a ui-sref="config"><img src="img/3@3x.png"></a>
			<h1><span ui-sref="user">我的</span><span ui-sref="music">音乐馆</span><span ui-sref="find">发现</span></h1>
			<a ui-sref="search"><i class="fa fa-fw fa-search"></i></a>
		</header>	
		<main class="music_main" id="music" is-music>	
				<div class="scroller">
				<div class="nav">
						<ul  id="resnav">
							<li class="on">精选</li>
							<li>排行</li>
							<li>歌单</li>
							<li>电台</li>
							<li>MV</li>
						</ul>
						<div class="sad" id="sad">
						</div>
					</div>
					<div class="countes" id="count">
						<div class="mus" id="mus">
							
							<div id="banner" class="swiper-container">
				        		<ul class="swiper-wrapper">                                 
				            		<li class="swiper-slide">
				            	   		 <a href="javascript:;" ><img src="../images/music1.jpg"/></a>
				            		</li>
				            		<li class="swiper-slide">
				            	   	 	<a href="javascript:;" ><img src="../images/mus1.jpg"/></a>
				            		</li>
				            		<li class="swiper-slide">
				                		<a href="javascript:;" ><img src="../images/mvs1.jpg"/></a>
				            		</li>
				        		</ul>
				      			<div class="swiper-pagination"></div>
   							 	</div>
							 <div class="box">
								<div class="top" id="top">
									<a ui-sref="singer">
										<img src="../images/music2.jpg"><span>歌手</span></a>
									<a ui-sref="classify">
										<img src="../images/music3.jpg"><span>分类</span></a>
									<a ui-sref="dvd">
										<img src="../images/music4.jpg"><span>专辑</span></a>
								</div>
								<div class="cen">
									<h1>新歌速递</h1>
									<div class="tw">			
										<dl>
											<dt><img src="../images/music_2.jpg"></dt>
											<dd>听一首感受万鸟回归的情歌</dd>
										</dl>			
										<dl>
											<dt><img src="../images/music_1.jpg"></dt>
											<dd>感受一下城市的清新与喧闹</dd>
										</dl>			
										<dl>
											<dt><img src="../images/music_3.jpg"></dt>
											<dd>对的时间对的地点对的音乐</dd>
										</dl>			
										<dl>
											<dt><img src="../images/music_1.jpg"></dt>
											<dd>听一首感受万鸟回归的情歌</dd>
										</dl>			
										<dl>
											<dt><img src="../images/music_2.jpg"></dt>
											<dd>感受一下城市的清新与喧闹</dd>
										</dl>			
										<dl>
											<dt><img src="../images/music_3.jpg"></dt>
											<dd>对的时间对的地点对的音乐</dd>
										</dl>
										</div>
									</div>
								</div>
							</div>
						

					<div class="second" id="second">
							<h1>PP音乐巅峰榜</h1>
						
							<dl>
								<dt><img src="../images/second1.jpg"></dt>
								<dd>
									<h2>1 守护家 - <span>TFBOYS</span></h2>
									<h2>2 小幸运 - <span>双生</span></h2>
									<h2>3 一次就好 - <span>杨宗纬</span></h2>
								</dd>
								<a href="#"><img src="../img/img1.png" alt=""></a>
							</dl>
							<dl>
								<dt><img src="../images/second2.jpg"></dt>
								<dd>
									<h2>1 守护家 - <span>TFBOYS</span></h2>
									<h2>2 小幸运 - <span>双生</span></h2>
									<h2>3 一次就好 - <span>杨宗纬</span></h2>
								</dd>
								<a href="#"><img src="../img/img1.png" alt=""></a>
							</dl>
							<dl>
								<dt><img src="../images/second3.jpg"></dt>
								<dd>
									<h2>1 守护家 - <span>TFBOYS</span></h2>
									<h2>2 小幸运 - <span>双生</span></h2>
									<h2>3 一次就好 - <span>杨宗纬</span></h2>
								</dd>
								<a href="#"><img src="../img/img1.png" alt=""></a>
							</dl>
							<dl>
								<dt><img src="../images/second4.jpg"></dt>
								<dd>
									<h2>1 守护家 - <span>TFBOYS</span></h2>
									<h2>2 小幸运 - <span>双生</span></h2>
									<h2>3 一次就好 - <span>杨宗纬</span></h2>
								</dd>
								<a href="#"><img src="../img/img1.png" alt=""></a>
							</dl>
							<dl>
								<dt><img src="../images/second3.jpg"></dt>
								<dd>
									<h2>1 守护家 - <span>TFBOYS</span></h2>
									<h2>2 小幸运 - <span>双生</span></h2>
									<h2>3 一次就好 - <span>杨宗纬</span></h2>
								</dd>
								<a href="#"><img src="../img/img1.png" alt=""></a>
							</dl>
						</div>
					<div class="muslist" id="list">
								<div id="banner1" class="swiper-container ">
									<ul class="swiper-wrapper">                                 
										<li class="swiper-slide">
											 <a href="javascript:;" ><img src="../images/music1.jpg"/></a>
										</li>
										<li class="swiper-slide">
											<a href="javascript:;" ><img src="../images/mus1.jpg"/></a>
										</li>
										<li class="swiper-slide">
											<a href="javascript:;" ><img src="../images/mvs1.jpg"/></a>
										</li>
									</ul>
									<div class="swiper-pagination"></div>
								</div> 
								<div class="result">
									<h1>推荐|更新</h1>
									<div class="boxs">
										<dl>
											<dt><a href="#"><img src="../images/mus2.jpg" alt=""></a></dt>
											<dd>
												<h6>别让爱成遗憾</h6>
											</dd>
										</dl>
										<dl>
											<dt><a href="#"><img src="../images/mus3.jpg" alt=""></a></dt>
											<dd>
												<h6>别让爱成遗憾</h6>
											</dd>
										</dl>
										<dl>
											<dt><a href="#"><img src="../images/mus4.jpg" alt=""></a></dt>
											<dd>
												<h6>别让爱成遗憾</h6>
											</dd>
										</dl>
										<dl>
											<dt><a href="#"><img src="../images/mus4.jpg" alt=""></a></dt>
											<dd>
												<h6>别让爱成遗憾</h6>
											</dd>
										</dl>
										<dl>
											<dt><a href="#"><img src="../images/mus3.jpg" alt=""></a></dt>
											<dd>
												<h6>别让爱成遗憾</h6>
											</dd>
										</dl>
										<dl>
											<dt><a href="#"><img src="../images/mus2.jpg" alt=""></a></dt>
											<dd>
												<h6>别让爱成遗憾</h6>
											</dd>
										</dl>
										<dl>
											<dt><a href="#"><img src="../images/mus3.jpg" alt=""></a></dt>
											<dd>
												<h6>别让爱成遗憾</h6>
											</dd>
										</dl>
										<dl>
											<dt><a href="#"><img src="../images/mus4.jpg" alt=""></a></dt>
											<dd>
												<h6>别让爱成遗憾</h6>
											</dd>
										</dl>
										<dl>
											<dt><a href="#"><img src="../images/mus2.jpg" alt=""></a></dt>
											<dd>
												<h6>别让爱成遗憾</h6>
											</dd>
										</dl>
									</div>
								</div>
						</div>
					<div class="dt" id="dt">
						<div class="pics">
							<div class="big">
								<a href="#">
									<dl>
										<dt><img src="../images/dt1.jpg" alt=""></dt>
										<dd></dd>
										<span>个性电台</span>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img src="../images/dt2.jpg" alt=""></dt>
										<dd></dd>
										<span>个性电台</span>

									</dl>
								</a>
							</div>
							<div class="small">
								<a href="#">
									<dl>
										<dt><img src="../images/dt3.jpg" alt=""></dt>
										<dd></dd>
										<span>个性电台</span>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img src="../images/dt4.jpg" alt=""></dt>
										<dd></dd>
										<span>个性电台</span>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img src="../images/dt5.jpg" alt=""></dt>
										<dd></dd>
										<span>个性电台</span>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img src="../images/dt6.jpg" alt=""></dt>
										<dd></dd>
										<span>个性电台</span>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img src="../images/dt7.jpg" alt=""></dt>
										<dd></dd>
										<span>个性电台</span>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img src="../images/dt8.jpg" alt=""></dt>
										<dd></dd>
										<span>个性电台</span>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img src="../images/dt3.jpg" alt=""></dt>
										<dd></dd>
										<span>个性电台</span>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img src="../images/dt4.jpg" alt=""></dt>
										<dd></dd>
										<span>个性电台</span>
									</dl>
								</a>
							</div>
						</div>
						<div class="ppzb">
							<ul>
								<li><img src="../img/dt-1.jpg" class="pic2"> <p>PP直播</p><a href="#"><img src="../img/img1.png" class="pic1"></a></li>
								<li><img src="../img/dt-2.jpg" class="pic2"> <p>明星在线</p><a href="#"><img src="../img/img1.png" class="pic1"></a></li>
								<li><img src="../img/dt-3.jpg" class="pic2"> <p>线下演出</p><a href="#"><img src="../img/img1.png" class="pic1"></a></li>
							</ul>		
						</div>
						</div>
					<div class="mvs" id="mvs">
						<div id="banner2" class="swiper-container ">
							<ul class="swiper-wrapper">                                 
								<li class="swiper-slide">
									 <a href="javascript:;" ><img src="../images/music1.jpg"/></a>
								</li>
								<li class="swiper-slide">
									<a href="javascript:;" ><img src="../images/mvs1.jpg"/></a>
								</li>
								<li class="swiper-slide">
									<a href="javascript:;" ><img src="../images/mus1.jpg"/></a>
								</li>
							</ul>
							<div class="swiper-pagination"></div>
						</div>
						<div class="naves">
							<ul>
								<li>
									<a href="#"><img src="../img/mvs-1.jpg"><p>内地</p></a>
								</li>
								<li>
									<a href="#"><img src="../img/mvs-2.jpg"><p>港台</p></a>
								</li>
								<li>
									<a href="#"><img src="../img/mvs-3.jpg"><p>韩国</p></a>
								</li>
								<li>
									<a href="#"><img src="../img/mvs-4.jpg"><p>欧美</p></a>
								</li>
							</ul>
						</div>
						<div class="mvsb">
							<h1>MV首播<a href="#">更多</a></h1>
							<img src="../images/mvs-2.jpg" class="pics1">
							<img src="../images/mvs-2.jpg" class="pics1">
						</div>
				</div>
				</div>	
		</main>
		<footer class="music_footer">
			<dl>
				<dt><img src="images/home3.jpg" alt=""></dt>
				<dd>
					<h6>不再说再见</h6>
					<p>照耀彼此的脸 茫茫人海互相看见</p>
					<a ui-sref="play"><img src="../images/home2.jpg" class="img1"></a>
					<img src="images/home1.jpg" class="img2"> 
				</dd>
			</dl>
		</footer>

		