<div class="wrap">
<div class="play_top">
			<a ui-sref="user"><img src="../img/loca1.png"></a>
			<h1>花房姑娘</h1>
		</div>
		<div class="play_count" id="play_count" is-play>
			<div class="scroller">
				<ul>
				<li>花房姑娘 - 吴亦凡</li>
				<li>词：崔健</li>
				<li>曲：崔健</li>
				<li>制作人：王闯</li>
				<li>吉他：KK</li>
				<li>花房姑娘</li>
				<li>我走过你的身旁</li>
				<li>却发现身边的事物早已变了模样</li>
				<li>我抽着很久不抽的香烟</li>
				<li>想着你脸庞我也望过大海的方向</li>
				<li>迷香我们是否迷失过方向</li>
				<li>女孩你在夜里是否向往着远方</li>
				<li>又或许独自走在街上</li>
				<li>想起那年花房的时光</li>
				<li>我却还在路上</li>
				<li>我独自走过你身旁</li>
				<li>并没有话要对你讲</li>
				<li>我不敢抬头看着你</li>
				<li>噢脸庞</li>
				<li>我却还在路上</li>
				<li>我独自走过你身旁</li>
				<li>并没有话要对你讲</li>
				<li>我不敢抬头看着你</li>
				<li>噢脸庞</li>
				<li>你要我留在这地方</li>
				<li>你要我和它们一样</li>
				<li>我看着你默默地说</li>
				<li>噢不能这样</li>
				<li>我想要回到老地方</li>
				<li>我想要走在老路上</li>
				<li>我明知我已离不开你</li>
			</ul>
			</div>
			<p>词</p>
		</div>
		
		<div class="play_rad">
			<span>00:12</span>
			<img src="../img/jdt.jpg">
			<span>03:49</span>
		</div>
		<div class="play_crtl">
			<img src="../img/music2.png" class="pic1">
			<img src="../img/music1.png" class="pic2">
			<img src="../img/music3.png" class="pic3">
		</div>
		<div class="play_footer">
			<a href="#"><img src="../img/music8.png"></a>
			<a href="#"><img src="../img/music4.png"></a>
			<a href="#"><img src="../img/music5.png"></a>
			<a href="#"><img src="../img/music6.png"></a>
			<a href="#"><img src="../img/music7.png"></a>
		<div/>
	</div>	