<header class="search_header">
			<span ui-sref="user"><img src="../img/loca1.png"></span>
			<p>
				<img src="../img/sea-1.png" alt="">
				<input type="text" value="歌手/歌曲/专辑">
				<img src="../img/sea-2.jpg" alt="">
			</p>
			<h1>搜索</h1>
	</header>
		
		<main class="search">
			<div class="searm" id="searm">
				<h1>热门搜索</h1>
				<ul class="uls">
					<li>守护者</li>
					<li>大王叫我来巡山</li>
					<li>我的天空</li>
					<li>征服</li>
					<li>陪你走过漫长岁月</li>
					<li>不说再见</li>
					<li>我的世界</li>
					<li>稳稳的幸福</li>
					<li>孤独患者</li>
				</ul>
			</div>

			<div class="on" id="on">清除历史搜索</div>
		</main>
		<footer class="search_footer">
			<dl>
				<dt><img src="../images/home3.jpg" alt=""></dt>
				<dd>
					<h6>不再说再见</h6>
					<p>照耀彼此的脸 茫茫人海互相看见</p>
					<a ui-sref="play"><img src="../images/home2.jpg" class="img1"></a>
					<img src="../images/home1.jpg" class="img2"> 
				</dd>
			</dl>
		</footer>