<header class="singer_header">
			<a ui-sref="music"><img src="../img/loca1.png"></a>
			<h1>歌手</h1>
		</header>
		<main class="singer_main" id="singer" is-singer>
			<div class="scroller">
				<ul>
				<li>
					<p>音乐人</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li class="mt">
					<p>华语男歌手</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li>
					<p>华语女歌手</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li>
					<p>华语组合</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li class="mt">
					<p>粤语男歌手</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li>
					<p>粤语女歌手</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li>
					<p>粤语组合</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li class="mt">
					<p>日语男歌手</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li>
					<p>日语女歌手</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li>
					<p>日语组合</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>

				<li class="mt">
					<p>韩语男歌手</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li>
					<p>韩语女歌手</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li>
					<p>韩语组合</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li class="mt">
					<p>欧美男歌手</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li>
					<p>欧美女歌手</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
				<li>
					<p>欧美组合</p><a href="#"><img src="../img/img1.png" alt=""></a>
				</li>
			</ul>
			</div>
		</main>
		<footer class="singer_footer">
			<dl>
				<dt><img src="../images/home3.jpg" alt=""></dt>
				<dd>
					<h6>不再说再见</h6>
					<p>照耀彼此的脸 茫茫人海互相看见</p>
					<a ui-sref="play"><img src="../images/home2.jpg" class="img1"></a>
					<img src="../images/home1.jpg" class="img2"> 
				</dd>
			</dl>
		</footer>