.sound_header{
	width:100%;
	height:.9rem;
	background:#0AAFD2;
	position: relative;
	a{
		display: block;
		position: absolute;
		left: .3rem;
		top: .28rem;
		img{
			width: .17rem;
			height:.31rem;
			
		}
	}
	h1{
		text-align: center;
		line-height: .9rem;
		color:#fff;
		font-size: .33rem;
	}
}
.sound_main{
	-webkit-flex:1;
	width:100%;
	position:relative;
	h1{
		text-align:center;
		margin-top:1.24rem;
		font-size:.24rem;
		}
	p{
		text-align:center;
		padding:.36rem 0 0 0;
		font-size:.22rem;
	}	
	.img1{
		width:2.56rem;
		height:2.56rem;
		position:absolute;
		top:4.26rem;
		left:2.48rem;
	}
	.img2{
		width:.77rem;
		height:.77rem;
		position:absolute;
		left:3.38rem;
		bottom:1.14rem;
	}
}
.sound_footer{
	position:relative;
	bottom: 0;
	width:100%;
	height:1.08rem;
	background:#0BAFD3;
	dl{
		width:100%;
		background:#0BAFD3;
		display: -webkit-flex;
		dt{
				padding: .12rem .3rem;
			img{
				width:.72rem;
				height:.72rem;
			}
		}
		dd{
			-webkit-flex:1;
			padding-top:.12rem; 
			position: relative;
			h6{
				line-height:.4rem;
				font-size: .21rem;
				color:#fff;
			}
			p{
				line-height:.4rem;
				font-size: .18rem;
				color:#fff;
			}
		
			.img1{
				width:.46rem;
				height:.46rem;
				display: block;
				position: absolute;
				top:.26rem;
				right:1rem;
			}
			.img2{
				position: absolute;
				width:.33rem;
				height:.28rem;
				top:.35rem;
				right:.34rem;
			}
		}
	}
}